<%- include('../partials/header') %> <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="<%= employee.image %>">
                <span class="font-weight-bold"><%= employee.firstName %> <%= employee.lastName %></span>
                <span class="text-black-50"><%= employee.email %></span>
                <span></span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <form action="/employees/<%= employee.id %>?_method=PUT" method="POST">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Edit Employee</h4>
                        <div>
                            <a href="/employees/<%= employee.id %>" class="btn btn-secondary">Cancel</a>
                            <button class="btn btn-primary profile-button" type="submit">Save</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">First Name</label>
                            <input type="text" class="form-control" name="firstName" placeholder="first name" value="<%= employee.firstName %>">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Last Name</label>
                            <input type="text" class="form-control" name="lastName" value="<%= employee.lastName %>" placeholder="surname">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Phone Number</label>
                            <input type="text" class="form-control" name="phone" placeholder="enter phone number" value="<%= employee.phone %>">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            <input type="text" class="form-control" name="email" placeholder="enter email id" value="<%= employee.email %>">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Date of Birth</label>
                            <input type="date" class="form-control" name="dob" placeholder="Date of Birth" value="<%= employee.dob %>">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Position</label>
                            <input type="text" class="form-control" name="position" placeholder="" value="<%= employee.dob %>">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Date of Hire</label>
                            <input type="date" class="form-control" name="dateOfHire" placeholder="Date of Hire" value="<%= employee.dateOfHire %>">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>