<%- include('../partials/header') %>
<div class="page-wrapper sidebar-closed">
    <main class="mainContainer">
        <div class="mainWrapper">
            <h3> Total Employees: <span class="employee-count"><%= employees.length %> </span>
            </h3>
            <div class="employee-header">
                <div class="search-container">
                    <input type="search" id="search" placeholder="Search by name, email..." value="<%= q %>">
                </div>
                <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</a>
                <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/employees/" method="POST">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-container">
                                        <div class="input-box">
                                            <label>First Name</label>
                                            <input id="add-employee-first-name" type="text" name="firstName" />
                                        </div>
                                        <div class="input-box">
                                            <label>Last Name</label>
                                            <input id="add-employee-last-name" type="text" name="lastName" />
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <label>Image URL</label>
                                        <input id="add-employee-image" type="text" name="image" placeholder="http://" />
                                    </div>
                                    <div class="input-box">
                                        <label>Date of Birth</label>
                                        <input id="add-employee-dob" type="date" name="dob" />
                                    </div>
                                    <div class="input-container">
                                        <div class="input-box">
                                            <label>Email Address</label>
                                            <input id="add-employee-email" type="email" name="email" />
                                        </div>
                                        <div class="input-box">
                                            <label>Phone</label>
                                            <input id="add-employee-phone" type="text" name="phone" />
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <label>Job-position</label>
                                        <input id="add-employee-job-position" type="text" name="position" />
                                    </div>
                                    <div class="input-box">
                                        <label>Date of Hire</label>
                                        <input id="add-employee-date-of-hire" type="date" name="dateOfHire" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="employees"></div>
            <div class="grid-container"><% employees.forEach((e) => { %> <div class="employee-panel">
                    <div class="panel-header">
                        <svg class="three-dot-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 24" fill="currentColor" width="24" height="15">
                            <circle cx="12" cy="5" r="2" />
                            <circle cx="12" cy="12" r="2" />
                            <circle cx="12" cy="19" r="2" />
                        </svg>
                    </div>
                    <div class="profileImage">
                        <img src=<%= e.image %> />
                    </div>
                    <div class="employee-detail">
                        <h6 class="employee-name">
                            <a href="/employees/<%= e._id %>"><%= e.firstName %> <%= e.lastName %> </a>
                        </h6>
                        <p class="employee-email"><%= e.email %> </p>
                    </div>
                    <div class="position-role">
                        <p><%= e.position %> </p>
                    </div>
                </div><% }) %> </div>
        </div>
    </main>
</div>
<script type="text/javascript">
    let search = document.getElementById('search');
    let typingTimeout;
    search.addEventListener('input', (evt) => {
        clearTimeout(typingTimeout);
        typingTimeout = setTimeout(() => {
            window.location.href = `/employees?q=${evt.target.value}`;
        }, 600);
    });
</script>
<%- include('../partials/footer') %>