<%- include('../partials/header') %>

  <section id="show-page">
    <div>Title: </div>
    <div>
      <%= movie.title %>
    </div>
    <div>Release Year: </div>
    <div>
      <%= movie.releaseYear %>
    </div>
    <div>Rating: </div>
    <div>
      <%= movie.mpaaRating %>
    </div>
    <div>Cast:</div>
    <ul>
      <% movie.cast.forEach(performer=> { %>
        <li>
          <%= performer.name %> <small>
              <%= performer.born.toLocaleDateString() %>
            </small>
        </li>
        <% }) %>
    </ul>
    <div>Now Showing: </div>
    <div>
      <%= movie.nowShowing ? 'Yes' : 'Nope' %>
    </div>
  </section>

  <br />
  <form id="add-per-to-cast" action="/movies/<%= movie._id %>/performers" method="POST">
    <select name="performerId">
      <!-- Emit an option for each performer -->

      <% performers.forEach(performer=> { %>
        <option value="<%= performer._id %>">
          <%= performer.name %>
        </option>
        <% }) %>
    </select>
    <button type="submit">Add to Cast</button>
  </form>

  <!-- new markup below -->
  <br><br>
  <h2>Reviews</h2>

  <% if (user) { %>
    <form id="add-review-form" method="POST" action="/movies/<%= movie._id %>/reviews">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
    <% } else { %>
      <p>Please Login to leave a review</p>
    <% } %>


        <!-- // Create a list of reviews here -->
        <% if (movie.reviews.length) { %>
          <table>
            <thead>
              <tr>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <% movie.reviews.forEach(function(r) { %>
                <tr>
                  <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
                  <td><%= r.createdAt.toLocaleDateString() %></td>
                  <td>
                    <%= r.createdAt.toLocaleDateString() %>
                  </td>
                  <td>
                    <%= r.content %>
                  </td>
                  <td>
                    <%= r.rating %>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
          <% } else { %>
            <h5>No Reviews Yet</h5>
            <% } %>
              <%- include('../partials/footer') %>

                <!-- This is what the movie variable may look like
you can always confirm by loggin the variable you're putting into 
render in the controller function that rendering show.ejs (show)

{
  _id: new ObjectId("649edbca3f6686d2674dccf9"),
  title: 'CaddyShack',
  releaseYear: 1998,
  mpaaRating: 'G',
  cast: [ 'Tom Hanks', 'Gary Sinise' ],
  nowShowing: true,
  createdAt: 2023-06-30T13:42:34.444Z,
  updatedAt: 2023-06-30T16:15:55.236Z,
  __v: 2,
  reviews: [
    {
      content: 'Good movieeeeee',
      rating: 5,
      _id: new ObjectId("649efe9056f76ec10bdd6a35"),
      createdAt: 2023-06-30T16:10:56.299Z,
      updatedAt: 2023-06-30T16:10:56.299Z
    },
    {
      content: 'Bad Moviee',
      rating: 1,
      _id: new ObjectId("649effbb80d16d4c6a8f7b88"),
      createdAt: 2023-06-30T16:15:55.235Z,
      updatedAt: 2023-06-30T16:15:55.235Z
    }
  ]
} -->